<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
    <!-- Google credentials -->
    <parameter name="username" value="username@gmail.com"/>
    <parameter name="password" value="password"/>
    <!-- New url which is to be placed in 'Authorized redirect URI' field. -->
    <parameter name="callbackUrl" value="https://localhost:9443/oauth/callback"/>
    <!-- Already existing web app name under google's API console-->
    <parameter name="clientAppName" value="Web client 2"/>
  <test name="testGoogleWebAppCallbackUrlUpdate">
    <classes>
        <class name="com.wso2.iamtest.GoogleWebAppUpdate"/>
        <!--class name="com.wso2.iamtest.GoogleWebAppUpdateHL"/-->
    </classes>
  </test>
</suite>